<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
  <appSettings>
    <add key="Main.ConnectionString" value="Server=DESKTOP-RGVPG85\SQLEXPRESS;Database=PracticaUAPA;User Id=sa;Password=0560815;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SecurityKey" value="Plat@no"/>
    <add key="IdUsuario" value="0"/>
    <add key="IdCuenta" value="0"/>
    <add key="IdCajaApertura" value="0"/>
    <add key="Logo" value="0"/>
    <add key="ProyectConfi" value="0560815"/>
  </appSettings>
  
</configuration>
